In [1]:
import pandas as pd

In [23]:
import numpy as np

In [2]:
from sklearn.linear_model import LinearRegression

##### 1. Напишіть функцію гіпотези лінійної регресії у векторному вигляді;

# $$
h(\vec x)= w_0 + \vec w_1 x
$$

##### 2. Cтворіть функцію для обчислення функції втрат у векторному вигляді

# $$
J(W) = \frac {1}{2m} \sum (h(\vec x) - \vec y)^2
$$

##### 3. Реалізуйте один крок градієнтного спуску

# $$
w_0 = w^{prev}_0 - \alpha \frac {\partial J(w_0, w_1)}{\partial w_0}
$$
# $$
w_1 = w^{prev}_1 - \alpha \frac {\partial J(w_0, w_1)}{\partial w_1}
$$

##### 4. Знайдіть найкращі параметри w⃗ для датасету прогнозуючу ціну на будинок залежно від площі, кількості ванних кімнат та кількості спалень

In [3]:
url = 'https://drive.google.com/file/d/1-rAa4XT4_fI0dOBlMNuE6a7jB0wln_Qo/view'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
data = pd.read_csv(url)
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [14]:
science_data = data.iloc[:, 0:4]
x = science_data[['area', 'bedrooms', 'bathrooms']]

y = science_data['price']

reg = LinearRegression().fit(x, y)
reg.score(x, y)

0.4870830667058762

In [15]:
reg.intercept_

-173171.6076326333

In [16]:
reg.coef_

array([3.78762754e+02, 4.06820034e+05, 1.38604950e+06])

##### 5. Знайдіть ці ж параметри за допомогою аналітичного рішення


# $$
h(\vec x) = \vec w * \vec x
$$

In [17]:
def h(vec_w, vec_x):
    return np.dot(vec_w, vec_x)

# $$
\nabla J(\vec w) = \frac {1}{m} X^T (X \vec w - \vec y)
$$

In [21]:
size = science_data[['area', 'bedrooms', 'bathrooms']].shape[0]
size

545

In [29]:
ones = np.ones(size)
ones = pd.DataFrame(ones)

In [30]:
X = pd.concat([ones, x], axis=1)
X

       0  area  bedrooms  bathrooms
0    1.0  7420         4          2
1    1.0  8960         4          4
2    1.0  9960         3          2
3    1.0  7500         4          2
4    1.0  7420         4          1
..   ...   ...       ...        ...
540  1.0  3000         2          1
541  1.0  2400         3          1
542  1.0  3620         2          1
543  1.0  2910         3          1
544  1.0  3850         3          1

[545 rows x 4 columns]

In [32]:
def grad_j(X, vec_w, vec_y, size):
    return (X.T *(X*vec_w - vec_y))/ size

# $$
\vec w = \vec w^{prev} - \frac {\alpha}{m}X^T(X \vec w - \vec y)
$$

In [38]:
def vec_w(vec_v_prev, learning_rate, size, X, vec_y, vec_w):
    return vec_v_prev - (learning_rate * X.T *(X*vec_w - vec_y)/ size)

### АБО

# $$
\vec h (X) = X\vec w
$$

# $$
\vec w = (X^T X)^{-1}X^T \vec y
$$

In [41]:
 def vec_v(X, vec_y):
        return (X.T * X)**-1 * X.T * vec_y

In [42]:
vec_v(X, y)

,0,1,2,3,4,5,6,7,8,9,...,538,539,540,541,542,543,544,area,bathrooms,bedrooms
0,13300000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bathrooms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bedrooms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN